.box {
    max-width: 1100px;
    width: 97%;
    margin-top: 15px;
    position: relative;
    background-color: lightgray;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Number text (1/3 etc) */
.numbertext {
    color: black;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.images{
}

.image_style {
    width: 100%;
    max-width: 1100px;
    max-height: 600px;
    object-fit: contain;
}

.images_hidden{
    display: none;
    max-height: 600px;
}

.images_active{
    display: block;
    max-height: 600px;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev{
    left: 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


/* Container for image text */
.caption-container {
    text-align: center;
    background-color: darkslategrey;
    padding: 2px 16px;
    color: white;
}

.row {
    width: 100%;
    height:150px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Six columns side by side */
.column {
    float: left;
    width: 20%;
    height:150px;
}

/* Add a transparency effect for thumnbail images */
.gallery_image {
    object-fit: cover;
    opacity: 0.6;
    width: 100%;
    max-width: 220px;
    height:150px;
}

.active,
.gallery_image:hover {
    opacity: 1;
    cursor: pointer;
}