/* Button styles */
.genericButton {
    height: 30px;
    width: 90px;
    background-color: #56C0A2;
    margin: 8px;

    border-radius: 10px;
    color: #17231D;
    border: solid gray thin;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
    justify-content: space-around;
    display: inline-flex;
    align-items: center;
    padding: 2px 0;
}

/* Title bar styles */

.title {
    width: auto;
    max-width: 80%;
    margin: auto;
    max-height: 20%;
}

.title_image {
    width: 100%;
    height: 361px;
    vertical-align: top;
    text-align: center;
    color: white;
    background-image: url("../images/ToussaintTownDetail.png");
    background-repeat:  no-repeat;
    background-position: center;
    font-family: Arial, sans-serif;
}

.title_centered {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: xx-large;
}


/* Menu bar styles */

.menu_box{
    display: block;
    width: 100%;
    max-width: 1136px;
    margin: auto;
}

.menu {
    width: inherit;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: dimgray;
}

/* Content Styles */

.page_object {
    width: 100%;
    max-width: 1136px;
    margin: inherit;
    background-color: whitesmoke;
    display: inherit;
    justify-content: inherit;
}

.pdf_display{
    width: 90%;
    margin: 15px;
    box-shadow: #17231D;
}

.react-pdf__Document{
    height: 800px;
}

.image_left {
    float: left;
    max-width: 40%;
    height: auto;
    margin: 50px;
}

.text_title {
    font-size: x-large;
    margin-top: 50px;
    margin-bottom: 15px;
}

.text_image_left {
    float: right;
    font-size: large;
    margin-top: 15px;
    margin-right: 45px;
}

.image_right {
    float: right;
    max-width: 40%;
    height: auto;
    margin: 50px;
}

.text_image_right {
    float: left;
    font-size: large;
    margin-top: 15px;
    margin-left: 45px;
}

.double_image_container {
    display: flex;
    justify-content: space-around;
}

.double_image_item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.double_image {
    background: 50% 50% no-repeat; /* 50% 50% centers image in div */
    object-fit: cover;
    width: 350px;
    height: 350px;
    margin: 30px;
}

.double_image_page{
    background: 50% 50% no-repeat; /* 50% 50% centers image in div */
    object-fit: cover;
    width: 350px;
    height: 457px;
    margin: 30px;
}

.double_image_title{
    font-size: x-large;
    margin-top: 15px;
    margin-bottom: 15px;
}

.title_text_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text_centered {
    font-size: large;
    margin: 15px;
    width: 85%;
}

.paragraph{
    width: 85%;
    align-items: center;
}

.paragraph_title{
    font-size: x-large;
    margin-top: 15px;
    margin-bottom: 15px;
}

.paragraph_text{
    font-size: large;
    margin: 15px;
}


.link {
    font-size: large;
    margin: 15px;
}

