/* Button styles */
.genericButton {
    height: 30px;
    width: 90px;
    background-color: #56C0A2;

    border-radius: 10px;
    color: #17231D;
    border: solid gray thin;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
    justify-content: space-around;
    display: inline-flex;
    align-items: center;
    padding: 2px 0;
}

/* Title bar styles */
.title {
    width: auto;
    max-width: 80%;
    margin: auto;
    height: auto;
    max-height: 20%;
    vertical-align: top;
    text-align: center;
    color: white;
    background-color: darkslategray;
    font-family: Arial, sans-serif;
}

.title_centered {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: xx-large;
}

.title_image {
    display: block;
    margin: inherit;
    width: auto;
    position: relative;
}

/* Menu bar styles */

.menu_box{
    display: block;
    max-width: 1136px;
    min-width: 1136px;
    margin: inherit;
}

.menu {
    width: inherit;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: dimgray;
}

/* Content Styles */

.image_left {
    float: left;
    max-width: 40%;
    height: auto;
    margin: 50px;
}

.text_title {
    font-size: x-large;
    margin-top: 50px;
}

.text_image_left {
    float: right;
    font-size: large;
    margin-top: 15px;
}

