
.genericButton {
    height: 30px;
    width: 90px;
    background-color: #56C0A2;

    border-radius: 10px;
    color: #17231D;
    border: solid gray thin;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
    text-align: center;
    padding: 2px 0;
}

.title {
    width: inherit;
    height: 20%;
    vertical-align: top;
    text-align: center;
    color: white;
}

.title_centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

